body {
  display: flex;
}

.layout_extra_info {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  padding: 2rem 1rem;
  margin: 0 auto;
  transition: 0.6s;
  gap: 7%;
}
.layout_container_title_extra {
  width: 100% ;
}
.component_title_extra {
  font-size: 3rem;
}
.layout_main_container_extra {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  padding: 3rem;
  border-radius: 3rem;
  color: white;
}
.component_title_main_extra {
  font-size: 2.5rem;
}
.component_text_extra {
  font-size: 1.25rem;
}
.layout_button_extra {
  display: flex;
  border-radius: 2rem;
  padding: 0.80rem 5rem;
  background-color: black;
  color: white;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid white;
  font-size: 1.25rem;
  cursor: pointer;
}
.layout_container_button_main_extra {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}
.component_more_button {
  background-color: black;
  color: white;
  padding: 1rem 4rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}
.component_more_button:active {
  position: relative;
  top: 2px;
}