@media screen and (max-width: 2000px){
  .component_text_extra {
    font-size: 1.5rem;
  }
  .component_title_main_extra {
    font-size: 3rem;
  }
  .component_title_extra {
    font-size: 4rem;
  }
  .component_more_button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1550px) {
  .component_text_extra {
    font-size: 1.25rem;
  }
  .component_title_main_extra {
    font-size: 2rem;
  }
  .component_title_extra {
    font-size: 3rem;
  }
  .component_more_button {
    font-size: 1.25rem;
  }
  .layout_button_extra {
    padding: 0.80rem 4rem;
    font-size: 1rem;
  } 
  .component_svg_extra {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .component_text_extra {
    font-size: 1rem;
  }
  .component_title_main_extra {
    font-size: 1.5rem;
  }
  .component_title_extra {
    font-size: 2.5rem;
  }
  .component_more_button {
    font-size: 1rem;
  }
  .layout_button_extra {
    padding: 0.80rem 3rem;
    font-size: .9rem;
  } 
  .component_svg_extra {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 880px) {
  .component_text_extra {
    font-size: 1rem;
  }
  .component_title_main_extra {
    font-size: 1.5rem;
  }
  .component_title_extra {
    font-size: 2rem;
  }
  .component_more_button {
    font-size: .8rem;
    padding: 1rem 3rem;
  }
  .layout_button_extra {
    padding: 0.80rem 2.5rem;
    font-size: .7rem;
  } 
  .component_svg_extra {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 785px) {
  .layout_main_container_extra {
    padding: 2rem;
    border-radius: 2rem;
  }
  .component_title_main_extra {
    font-size: 1.3rem;
  }
  .component_text_extra {
    font-size: .9rem;
  }
  .layout_button_extra {
    padding: 0.80rem 1.5rem;
  }
}
@media screen and (max-width: 630px) {
  .component_text_extra {
    font-size: 0.8rem;
  }
  .component_title_main_extra {
    font-size: 1rem;
  }
  .component_title_extra {
    font-size: 2rem;
  }
  .component_more_button {
    font-size: .7rem;
  }
  .layout_button_extra {
    padding: 0.60rem 1.5rem;
    font-size: .6rem;
  } 
  .component_svg_extra {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 510px) {
  .component_title_extra {
    font-size: 1.5rem;
  }
  .component_more_button {
    font-size: 0.6rem;
    padding: 0.9rem 1.5rem;
  }
  .layout_button_extra {
    padding: 0.60rem 0.9rem;
  }
  .component_svg_extra {
    width: 12px;
    height: 12px;
  }
  .layout_button_extra {
    font-size: 0.6rem;
    gap: 0.8rem;
  }
}
@media screen and (max-width: 450px){
  .component_text_extra {
    font-size: 0.8rem;
  }
  .component_title_main_extra {
    font-size: .9rem;
  }
  .layout_button_extra {
    font-size: 0.5rem;
    width: 100%;
    padding: .8rem;
    font-size: 0.7rem;
  }
  .layout_container_button_main_extra {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .component_title_main_extra {
    font-size: .8rem;
  }
  .component_text_extra {
    font-size: .7rem;
  }
}
